<a href="https://github.com/{{ include.user.username }}" target="_blank" rel="noopener" class="repo-card user-card">
  <img class="repo-avatar" src="{{ include.user.avatar }}" alt="{{ include.user.username }}" loading="lazy">
  <div class="repo-card-body">
    <div class="repo-card-title">{{ include.user.name }}</div>
    <div class="repo-card-sub">@{{ include.user.username }}</div>
    {% if include.user.bio %}<div class="repo-card-desc">{{ include.user.bio }}</div>{% endif %}
    <div class="repo-card-stats">
      <span><i class="fas fa-book"></i>&nbsp;{{ include.user.repos }} repos</span>
      <span><i class="fas fa-user-friends"></i>&nbsp;{{ include.user.followers }} followers</span>
    </div>
  </div>
</a>
